{% extends 'base.html' %}

{% block title %}
    Главная
{% endblock %}

{% block content %}

<h1> Good  {% if 12 <=time < 17  %}
afternoon
{% endif %}
{% if 4 <= time < 12  %}
morning
{% endif %}
{% if 0 <=time < 4  %}
night
{% endif %}
{% if 17 <=time < 23  %}
evening
{% endif %} , {{username}} </h1>
<p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
    standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
    a type specimen book. </p>
{% endblock %}